<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form @submit="addForm($event)">
            <input type="text" v-model="cari">
            <button type="submit">add</button>
            <ul>
                <li v-for="name in users" style="margin: 10px;">{{ name.name }} <button>Edit</button> : <button>Delete</button></li>
            </ul>
        </form>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue ({
            el: "#app",
            data: {
                cari: '',
                users: [
                    {name : 'Muhammad Iqbal Mubarok'},
                    {name : 'Ruby Purwanti'},
                    {name : 'Faqih Muhammad'}
                ],
            },
            methods: {
                addForm : function(event) {
                    event.preventDefault()
                },
                delete: function() {
                    this.delete=prompt("Anda Yakin ?")
                }
                
            }
        })
    </script>
</body>
</html>