<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" placeholder="ketikkan kata kunci" v-model="cari"/>
        <ul v-for="book in filterBooks">
            <li>{{ book }}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                cari : '',
                books : [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linear Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman'
                ]
            },
            computed: {
                filterBooks: function() {
                    return this.books.filter((book) => {
                        return book.match(this.cari)
                    })
                }
            }
        })
    </script>
</body>
</html>